@import './styles/index.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Melodrama;
    font-size: 14px;

}

body {
    background-color: var(--red-marvel);
    /* background-color: var(--black); */
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
}

.containerApp {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 200vh;
}

@font-face {
    font-family: Melodrama;
    src: url("/public/fonts/Melodrama/Melodrama/Variable/Melodrama-Variable.ttf");
    font-display: swap;
}
